@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import "tailwindcss";
@config "./tailwind.config.js";

/* Scrollbar Style */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    @apply bg-transparent rounded-3xl;
}

::-webkit-scrollbar-thumb:hover {
    @apply cursor-pointer bg-white/10;
}
/* Checkbox Styling */
.task-input input[type=checkbox]:focus
{
    background: transparent url(/dot.svg) no-repeat center;
}

.task-input input[type=checkbox]
{
    background:transparent url(/dot.svg) no-repeat center;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 17px;
    height: 17px;
    cursor: pointer;
    position: relative;
    margin-right:3px;
    top: 1px;
    color:transparent;
}

.task-input input[type=checkbox]:checked
{
    background: transparent url(/check.svg) no-repeat center;
}

.task-input input[type='checkbox']:disabled{
    pointer-events: none;
}

/* Date */
input[type="date"] { 
    color-scheme: dark;
}

/* Timer Input Styling */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
-webkit-appearance: none;
margin: 0;
}

/* Markdown */
.markdown h1 {
    @apply text-2xl font-bold;
}

.markdown h2 {
    @apply text-xl font-bold;
}

.markdown h3 {
    @apply text-lg font-bold;
}

.markdown a {
    @apply text-blue-500;
}

.markdown table {
    @apply w-full text-left rtl:text-right;
}

.markdown tr {
    @apply bg-white/6 border-b border-gray-600/70;
}

.markdown th, td {
    @apply px-3 py-1;
}

.markdown ol {
    @apply py-1 list-decimal list-inside flex flex-col gap-1;
}

.markdown ul {
    @apply py-1 list-disc list-inside flex flex-col gap-1;
}

.markdown li p {
    @apply inline;
}

@layer base {
    body {
        @apply select-none bg-black;
    }
}

@theme {
    --default-font-family: "Nunito", sans-serif;
    --font-dot: "DotGothic16", "Nunito", sans-serif;
}
